	<title>Gourmet</title>
</head>
<body>
    <div class="container">
    	<div class="panel panel-login">
            <span>Vamos descobrir seu prato</span>
            <br>
                <form class='form-login form' action="action.php">
                    <button type="submit" class="btn btn-confirmar">Confirmar</button>
                </form>
    	</div>
    </div>
</body>
</html>